.ColorBox{
  width: 100px;
  height: 100px;
  border: 1px solid white;
  border-radius: 10px;
    opacity: 0;
    animation: Colorbox 2s linear forwards;
}

@keyframes Colorbox {
    from {
        opacity: 0;
        transform: translateY(-400px);
}

    to {
        opacity: 1;
        transform : translateY(0);
    }
}

.container{
  height:406.5px;
  width:406.5px;
  border:3px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-wrap:wrap ;
  overflow: hidden;
  border-radius: 25px;
  
}
body{
  display: flex;
  justify-content: center;
  margin-top:10%;
  background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  background-attachment: fixed;
}



